@keyframes progress-bar {
	0% {
		transform: scaleX(0);
    }
    17% {
        transform: scaleX(0.18);
    }
    24% {
        transform: scaleX(0.40);
        animation-timing-function: cubic-bezier(.9,0,.1,1);
    }
    46% {
        transform: scaleX(0.81);
        animation-timing-function: cubic-bezier(.25,0.25,1);
    }

    70%{
        transform: scaleX(1);
        opacity: 1;
    }

	100% {
        opacity: 0;
        animation-timing-function: ease;
	}
}

@keyframes progress-txt {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }

    50%{
        transform: rotate(360deg);
    }
    
    100% { 
        transform: rotate(720deg); 
    }
}

$clrSpin: lighten($colorSecondary, 15%);
$clrBorder: lighten($colorPrimary, 15%);

.loadContainer{
	display: flex;
    height: auto;
    width: 100%;
	align-items: center;
    justify-content: center;
    position: absolute;
    top: 10em;
    z-index: -1;
    .progressBar{
        background: linear-gradient(0.25turn, $colorPrimary, $colorSecondary);
        height: 3.2em;
        width: 100%;
        transform-origin: left;
        animation: progress-bar 2.5s 150ms both ease-in-out;
        box-shadow: 0px 3px 20px -10px #000000;
    }
    .letterWhite{
        position: absolute;
        font-size: 2.8em;
        font-family: "Shrikhand";
        color: white;
        z-index: 1;
        opacity: 1;
        animation: progress-txt 300ms 2s both;
    }
    .letterBlack{
        position: absolute;
        font-size: 2.8em;
        font-family: "Shrikhand";
        color: black;
    }
    .spin {
        position: absolute;
        top: 5em;
        border: 1em solid $clrBorder; 
        border-top: 1em solid $clrSpin;
        border-radius: 50%;
        width: 6em;
        height: 6em;
        animation: spin 1.5s ease-in-out 3;
    }
}

@keyframes body{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}

.bodyAnim{
    animation: body 1s 1.8s both;
    background-color: white;
    @include other{
        box-shadow: 0px 3px 20px -10px #000000;
    }
}

@keyframes onLoad{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    50%{
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes checked{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
