html{
    @include mobile{
        background: white;
    }
    @include other{
        background: linear-gradient(0.25turn, $colorPrimary, $colorSecondary);
    }
}

body{
    margin: auto;
    font-family: 'Shirkhand', 'Roboto', sans-serif;
    position: relative;
    max-width: 425px;
}

main{
    background-color: eclair($colorPrimary);
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 1.5em;
    font-weight: normal;
}

h2{
    @include fontTitle();
}

p{
    font-size: 0.9em;
    margin: 0.3em 0 0.3em 0;
}

a {
    outline: none;
    text-decoration: none;
    color: unset;
    height: inherit;
}

button{
    border:none;
    background-color:transperant;
    outline:none;
    padding: unset;
    font-family: inherit;
}

footer{
    @include flexCenter-Xy($justifyContent: unset, $flexDirection: unset);
    height: 11em;
    background-color: eclair(black, $saturation: 0%, $lightness: 20%);
    color: white;
}