$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorThirdly: #99E2D0;

@function eclair($eclair, $saturation: 10%, $lightness: 96%) {
    $hue: hue($eclair);
    $sat: $saturation;
    $light: $lightness;
    $eclair: hsl($hue, $sat, $light);
    @return $eclair;
}

@mixin flexCenter-Xy ($alignItems: center, $justifyContent: center, $flexDirection: column) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
}

@mixin fontTitle {
    font-weight: bold;
    font-size: 1.4em;
    margin: 1.5em 0.8em 1em 0.8em;
    @include other{
        font-size: 1.6em;
        margin: 1.5em 0.8em 1em 1.5em;
    }
}

@mixin shadowBut {
    box-shadow: 0px 3px 16px -10px #000000;
}

$cpLight: eclair($colorPrimary, $saturation: 100%, $lightness: 80%);
$csLight: eclair($colorSecondary, $saturation: 100%, $lightness: 80%);

@mixin headButton {
    .button{
    @include flexCenter-Xy ();
    @include shadowBut();
    position: relative;
    margin-top: 2em;
    height: 3em;
    width: 60%;
    border-radius: 1.5em;
    color: white;
    background: linear-gradient($colorSecondary, $colorPrimary);
    z-index: 1;
    @include other{
        height: 4em;
        border-radius: 2em;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background: linear-gradient($csLight, $cpLight);
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms;
        border-radius: 1.5em;
        @include other{
            border-radius: 2em;
        }
    }
    }
}

@mixin footer {
    .footerContent{
        margin-left: 1em;
        & > h1{
            margin: 0.5em 0 0.5em 0;
            font-size: 1.2em;
            font-weight: lighter;
            @include other{
                font-size: 1.4em;
            }
        }
        & > p{
            font-size: 0.9em;
            @include other{
                font-size: 1.1em;
            }
            & > i{
                font-size: 0.8em;
                margin-right: 0.5rem;
                @include other{
                    font-size: 1em;
                }
            }
            & > .mod{
                font-size: 0.6em;
                @include other{
                    font-size: 0.8em;
                }
            }
        }
    }
}

@mixin headerTitleImgMenu {
    .headerMenu{
        background-color: white;
        &__arrow{
            position: absolute;
            left: 1.5em;
            top: 1.2em;
            width: 3em;
            @include other{
                font-size: 1.4em;
            }
        }
    }
    
    .headerMenuTitle{
        position: relative;
        height: 18em;
        @include other{
            height: 22em;
        }
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__title{
            border-radius: 2em 2em 0 0;
            background-color: eclair($colorPrimary);
            height: 4em;
            width: 100%;
            position: absolute;
            bottom: 0;
            & > h1{
                margin-left: 0.5em;
            }
            &__heart{
                font-size: 1.4em;
                height: 2em;
                z-index: 2;
                cursor: pointer;
                position: absolute;
                background: eclair($colorPrimary);
                bottom: 0.9em;  
                left: 12em;
                top: 1em;
                opacity: 1;
                transition: opacity 250ms;
                @include mobileM{
                    left: 14em;
                }
                @include mobileL{
                    left: 16em;
                }
                @include mobileXL{
                    left: 18em;
                }
                @include other{
                    left: 19em;
                    font-size: 1.6em;
                }
                &:active{
                    opacity: 0;
                }
                &__hover{
                    position: absolute;
                    height: 2em;
                    font-size: 1.4em;
                    bottom: 0.9em;  
                    left: 12em;
                    top: 1em;
                    background: -webkit-linear-gradient($colorPrimary, $colorSecondary);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    z-index: 1;
                    @include mobileM{
                        left: 14em;
                    }
                    @include mobileL{
                        left: 16em;
                    }
                    @include mobileXL{
                        left: 18em;
                    }
                    @include other{
                        left: 19em;
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}

@mixin animDelay($m) {
    $delaySupp: 150ms * $m;
    $delayInit: 800ms;
    $delay: $delayInit + $delaySupp;
    animation: onLoad 1s $delay ease-out forwards;
}

@mixin menu {
    padding: 0 0.8em 0 0.8em;
    margin-bottom: 1em;
    &__title{
        padding-top: 1em;
        &__underline{
            border-bottom: 3px solid $colorThirdly;
        }
    }
    &__choix{
        @include flexCenter-Xy($alignItems: unset, $justifyContent: unset, $flexDirection: row);
        @include shadowBut();
        background: white;
        height: 4em;
        border-radius: 1em;
        margin-top: 1em;
        cursor: pointer;
        opacity: 0;
        animation: onLoad 1s 800ms ease-out forwards;
        position: relative;
        overflow: hidden;
        @include other{
            height: 5em;
        }
        &--modHeight{
            height: 5em;
            @include other{
                height: 6em;
            }
        }
        &--delay{
            @include animDelay($m: 1);
        }
        &--delay2{
            @include animDelay($m: 2);
        }
        &--delay3{
            @include animDelay($m: 3);
        }
        &:active div:first-child{
            width: 82%;
        }
        &:active div:last-child{
            transform: translateX(0);
            & > i{
                animation: 400ms 100ms checked 1 forwards;
            }
        }
        &__hover{
            @include flexCenter-Xy($flexDirection: unset);
            border-radius: 0 1em 1em 0;
            background: $colorThirdly;
            width: 18%;
            height: 100%;
            right: 0;
            transform: translateX(100%);
            transition: transform 500ms;
            position: absolute;
            &__checked{
                color: white;
                font-size: 1.5em;
                @include other{
                    font-size: 1.8em;
                }
            }
        }
        &__content{
            @include flexCenter-Xy($justifyContent: center, $alignItems: unset, $flexDirection: column);
            width: 100%;
            transition: width 500ms;
            & > h2{
                margin: 0.3em 0 0 0.6em;
                font-size: 1em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                @include other{
                    font-size: 1.3em;
                }
            }
            &__def{
                @include mobile{
                    font-size: 0.8em;
                }
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &__caract{
                @include flexCenter-Xy($justifyContent: space-between, $alignItems: center, $flexDirection: row);
                margin: 0.2em 1em 0 0.6em;
            }
            &__price{
                font-weight: bold;
            }
        }
    }
}

$breakpoints:(
    mobile: 375px,
    mobileM: 425px,
    mobileXL: 500px,
    desktop: 601px,
);

@mixin mobile {
    @media screen and(max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin mobileM {
    @media screen and(min-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin mobileL {
    @media screen and(min-width: map-get($breakpoints, mobileM)){
        @content;
    }
}

@mixin mobileXL {
    @media screen and(min-width: map-get($breakpoints, mobileXL)){
        @content;
    }
}

@mixin other {
    @media screen and(min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
