@import 'sass/utils';
@import 'sass/bases';
@import 'sass/anim';

// page acceuil ...................................

.header{
    height: 4em;
    @include flexCenter-Xy();
    & > img{
        width: 50%;
    }
}

.headLoc{
    @include flexCenter-Xy($flexDirection: unset);
    height: 3em;
    box-shadow: 0px 18px 9px -19px grey inset;
    background-color: rgb(224, 224, 224);
    & > p{
        margin: 1em;
        font-weight: bold;
    }
}

.headTitleButton{
    @include flexCenter-Xy( $justifyContent: unset);
    text-align: center;
    height: 16em;
    background-color: eclair($eclair: $colorPrimary);
    &__title{
        width: 90%;
        &--title{
            @include fontTitle();
            font-family: 'Roboto', sans-serif;
        }
    }
    @include headButton();
}

.foncStep{
    @include flexCenter-Xy( $justifyContent: space-between);
    height: 15em;
    margin-bottom: 3em;
    &__exemple{
        @include flexCenter-Xy( $justifyContent: unset, $flexDirection: unset);
        @include shadowBut();
        background-color: eclair($colorPrimary);
        height: 4em;
        width: 90%;
        border-radius: 1em;
        & > span{
            position: relative;
            right: 0.7em;
            height: 1.4em;
            width: 1.4em;
            border-radius: 0.7em;
            background-color: $colorPrimary;
            text-align: center;
            color: white;
            font-size: smaller;
        }
        & > i{
            color: eclair($colorPrimary, $lightness: 50%);
            margin: 0 1.2em 0 0.5em;
        }
        & > p{
            font-weight: bold;
        }
        &--mod{
            background-color: eclair($colorPrimary,$saturation: 100%, $lightness: 96%);
            & > i{
                color: $colorPrimary;
            }
        }
    }
}

// balise main
.main{
    padding: 0.8em 0 4em 0;
}

.allResto{
    @include flexCenter-Xy($justifyContent: space-between);
    height: 60em;
    &__restoCard{
        @include flexCenter-Xy($alignItems: unset, $justifyContent: unset);
        @include shadowBut();
        width: 90%;
        height: 14em;
        border-radius: 1em;
        position: relative;
        z-index: 0;
        & > a{
            @include flexCenter-Xy($alignItems: unset, $justifyContent: unset);
        }
        &__new{
            position: absolute;
            left: 12.5em;
            top: 0.8em;
            color: green;
            background-color: $colorThirdly;
            border-radius: 2px;
            & > p{
                margin: 0.5em 1.1em 0.5em 1.1em;
                font-weight: bold;
                font-size: 0.8em;
            }
        }
        & img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 1em 1em 0em 0em;
        }
        &__name{
            margin: 0.8em 0 0 0.7em;
            font-weight: bold;
        }
        &__loc{
            margin-left: 0.7em;
        }
    }
}

.heart{
    font-size: 1.4em;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    background: eclair($colorPrimary);
    top: 8em;
    right: 0.3em;
    bottom: 0.3em;  
    left: 11em;
    opacity: 1;
    transition: opacity 250ms;
    &:active{
        opacity: 0;
    }
    &__hover{
        position: absolute;
        font-size: 1.4em;
        top: 8em;
        right: 0.3em;
        bottom: 0.3em;  
        left: 11em;
        background: -webkit-linear-gradient($colorPrimary, $colorSecondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
    }
}


@include footer;

// page acceuil fin ...................................

// page Menus ...............

@include headerTitleImgMenu;

// balise main
.mainContent{
    padding-bottom: 4em;
}

.entrées{
    @include animMenu;
}

.plats{
    @include animMenu;
}

.desserts{
    @include animMenu;
}

.buttonCom{
    @include headButton;
    @include flexCenter-Xy;
}

@include footer;


