@charset "UTF-8";
body {
  margin: unset;
  font-family: 'Shirkhand', 'Roboto', sans-serif;
  position: relative;
}

main {
  background-color: #f5f4f6;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-weight: bold;
  font-size: 1.4em;
  margin: 1.5em 0.8em 1em 0.8em;
}

p {
  font-size: 0.9em;
  margin: 0.3em 0 0.3em 0;
}

a {
  outline: none;
  text-decoration: none;
  color: unset;
  height: inherit;
}

button {
  border: none;
  background-color: transperant;
  outline: none;
  padding: unset;
  font-family: inherit;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  height: 11em;
  background-color: #333333;
  color: white;
}

@-webkit-keyframes progress-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
            animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.25, 1);
            animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes progress-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
            animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.25, 1);
            animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes progress-txt {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes progress-txt {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

.loadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10em;
  z-index: -1;
}

.loadContainer .progressBar {
  background: -webkit-gradient(linear, left top, right top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0.25turn, #9356DC, #FF79DA);
  height: 3.2em;
  width: 100%;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: progress-bar 2s 150ms both ease-in-out;
          animation: progress-bar 2s 150ms both ease-in-out;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
}

.loadContainer .letterWhite {
  position: absolute;
  font-size: 2.8em;
  font-family: "Shrikhand";
  color: white;
  z-index: 1;
  opacity: 1;
  -webkit-animation: progress-txt 300ms 2s both;
          animation: progress-txt 300ms 2s both;
}

.loadContainer .letterBlack {
  position: absolute;
  font-size: 2.8em;
  font-family: "Shrikhand";
  color: black;
}

.loadContainer .spin {
  position: absolute;
  top: 5em;
  border: 1em solid #bc95e9;
  border-top: 1em solid #ffc6ef;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  -webkit-animation: spin 1.5s ease-in-out 3;
          animation: spin 1.5s ease-in-out 3;
}

@-webkit-keyframes body {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes body {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.bodyAnim {
  -webkit-animation: body 1s 1.8s both;
          animation: body 1s 1.8s both;
}

@-webkit-keyframes onLoad {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes onLoad {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes checked {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes checked {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header > img {
  width: 50%;
}

.headLoc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  height: 3em;
  -webkit-box-shadow: 0px 18px 9px -19px grey inset;
          box-shadow: 0px 18px 9px -19px grey inset;
  background-color: #e0e0e0;
}

.headLoc > p {
  margin: 1em;
  font-weight: bold;
}

.headTitleButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 16em;
  background-color: #f5f4f6;
}

.headTitleButton__title {
  width: 90%;
}

.headTitleButton__title--title {
  font-weight: bold;
  font-size: 1.4em;
  margin: 1.5em 0.8em 1em 0.8em;
  font-family: 'Roboto', sans-serif;
}

.headTitleButton .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  position: relative;
  margin-top: 2em;
  height: 3em;
  width: 60%;
  border-radius: 1.5em;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  z-index: 1;
}

.headTitleButton .button:hover::after {
  opacity: 1;
}

.headTitleButton .button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff99e3), to(#c799ff));
  background: linear-gradient(#ff99e3, #c799ff);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  border-radius: 1.5em;
}

.foncStep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15em;
  margin-bottom: 3em;
}

.foncStep__exemple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  background-color: #f5f4f6;
  height: 4em;
  width: 90%;
  border-radius: 1em;
}

.foncStep__exemple > span {
  position: relative;
  right: 0.7em;
  height: 1.4em;
  width: 1.4em;
  border-radius: 0.7em;
  background-color: #9356DC;
  text-align: center;
  color: white;
  font-size: smaller;
}

.foncStep__exemple > i {
  color: #7e738c;
  margin: 0 1.2em 0 0.5em;
}

.foncStep__exemple > p {
  font-weight: bold;
}

.foncStep__exemple--mod {
  background-color: #f4ebff;
}

.foncStep__exemple--mod > i {
  color: #9356DC;
}

.main {
  padding: 0.8em 0 4em 0;
}

.allResto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60em;
}

.allResto__restoCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  width: 90%;
  height: 14em;
  border-radius: 1em;
  position: relative;
  z-index: 0;
}

.allResto__restoCard > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.allResto__restoCard__new {
  position: absolute;
  left: 12.5em;
  top: 0.8em;
  color: green;
  background-color: #99E2D0;
  border-radius: 2px;
}

.allResto__restoCard__new > p {
  margin: 0.5em 1.1em 0.5em 1.1em;
  font-weight: bold;
  font-size: 0.8em;
}

.allResto__restoCard img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0em 0em;
}

.allResto__restoCard__name {
  margin: 0.8em 0 0 0.7em;
  font-weight: bold;
}

.allResto__restoCard__loc {
  margin-left: 0.7em;
}

.heart {
  font-size: 1.4em;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  background: #f5f4f6;
  top: 8em;
  right: 0.3em;
  bottom: 0.3em;
  left: 11em;
  opacity: 1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.heart:active {
  opacity: 0;
}

.heart__hover {
  position: absolute;
  font-size: 1.4em;
  top: 8em;
  right: 0.3em;
  bottom: 0.3em;
  left: 11em;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.footerContent {
  margin-left: 1em;
}

.footerContent > h1 {
  margin: 0.5em 0 0.5em 0;
  font-size: 1.2em;
  font-weight: lighter;
}

.footerContent > p {
  font-size: 0.9em;
}

.footerContent > p > i {
  font-size: 0.8em;
  margin-right: 0.5rem;
}

.footerContent > p > .mod {
  font-size: 0.6em;
}

.headerMenu__arrow {
  position: absolute;
  left: 1.5em;
  top: 1.2em;
  width: 3em;
}

.headerMenuTitle {
  position: relative;
  height: 18em;
}

.headerMenuTitle__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.headerMenuTitle__title {
  border-radius: 2em 2em 0 0;
  background-color: #f5f4f6;
  height: 4em;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.headerMenuTitle__title > h1 {
  margin-left: 0.5em;
}

.headerMenuTitle__title__heart {
  font-size: 1.4em;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  background: #f5f4f6;
  bottom: 0.9em;
  left: 12em;
  opacity: 1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.headerMenuTitle__title__heart:active {
  opacity: 0;
}

.headerMenuTitle__title__heart__hover {
  position: absolute;
  font-size: 1.4em;
  bottom: 0.9em;
  left: 12em;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.mainContent {
  padding-bottom: 4em;
}

.entrées {
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 1em;
}

.entrées__title {
  padding-top: 1em;
}

.entrées__title__underline {
  border-bottom: 3px solid #99E2D0;
}

.entrées__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  background: white;
  height: 4em;
  border-radius: 1em;
  margin-top: 1em;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: onLoad 1s 800ms ease-out forwards;
          animation: onLoad 1s 800ms ease-out forwards;
  position: relative;
  overflow: hidden;
}

.entrées__choix--modHeight {
  height: 5em;
}

.entrées__choix--delay {
  -webkit-animation: onLoad 1s 950ms ease-out forwards;
          animation: onLoad 1s 950ms ease-out forwards;
}

.entrées__choix--delay2 {
  -webkit-animation: onLoad 1s 1100ms ease-out forwards;
          animation: onLoad 1s 1100ms ease-out forwards;
}

.entrées__choix--delay3 {
  -webkit-animation: onLoad 1s 1250ms ease-out forwards;
          animation: onLoad 1s 1250ms ease-out forwards;
}

.entrées__choix:active div:first-child {
  width: 82%;
}

.entrées__choix:active div:last-child {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.entrées__choix:active div:last-child > i {
  -webkit-animation: 400ms 100ms checked 1 forwards;
          animation: 400ms 100ms checked 1 forwards;
}

.entrées__choix__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  border-radius: 0 1em 1em 0;
  background: #99E2D0;
  width: 18%;
  height: 100%;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  position: absolute;
}

.entrées__choix__hover__checked {
  color: white;
  overflow: hidden;
  font-size: 1.5em;
}

.entrées__choix__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.entrées__choix__content > h2 {
  margin: 0.3em 0 0 0.6em;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.entrées__choix__content__def {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.entrées__choix__content__caract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1em 0 0.6em;
}

.entrées__choix__content__price {
  font-weight: bold;
}

.plats {
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 1em;
}

.plats__title {
  padding-top: 1em;
}

.plats__title__underline {
  border-bottom: 3px solid #99E2D0;
}

.plats__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  background: white;
  height: 4em;
  border-radius: 1em;
  margin-top: 1em;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: onLoad 1s 800ms ease-out forwards;
          animation: onLoad 1s 800ms ease-out forwards;
  position: relative;
  overflow: hidden;
}

.plats__choix--modHeight {
  height: 5em;
}

.plats__choix--delay {
  -webkit-animation: onLoad 1s 950ms ease-out forwards;
          animation: onLoad 1s 950ms ease-out forwards;
}

.plats__choix--delay2 {
  -webkit-animation: onLoad 1s 1100ms ease-out forwards;
          animation: onLoad 1s 1100ms ease-out forwards;
}

.plats__choix--delay3 {
  -webkit-animation: onLoad 1s 1250ms ease-out forwards;
          animation: onLoad 1s 1250ms ease-out forwards;
}

.plats__choix:active div:first-child {
  width: 82%;
}

.plats__choix:active div:last-child {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.plats__choix:active div:last-child > i {
  -webkit-animation: 400ms 100ms checked 1 forwards;
          animation: 400ms 100ms checked 1 forwards;
}

.plats__choix__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  border-radius: 0 1em 1em 0;
  background: #99E2D0;
  width: 18%;
  height: 100%;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  position: absolute;
}

.plats__choix__hover__checked {
  color: white;
  overflow: hidden;
  font-size: 1.5em;
}

.plats__choix__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.plats__choix__content > h2 {
  margin: 0.3em 0 0 0.6em;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.plats__choix__content__def {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.plats__choix__content__caract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1em 0 0.6em;
}

.plats__choix__content__price {
  font-weight: bold;
}

.desserts {
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 1em;
}

.desserts__title {
  padding-top: 1em;
}

.desserts__title__underline {
  border-bottom: 3px solid #99E2D0;
}

.desserts__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  background: white;
  height: 4em;
  border-radius: 1em;
  margin-top: 1em;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: onLoad 1s 800ms ease-out forwards;
          animation: onLoad 1s 800ms ease-out forwards;
  position: relative;
  overflow: hidden;
}

.desserts__choix--modHeight {
  height: 5em;
}

.desserts__choix--delay {
  -webkit-animation: onLoad 1s 950ms ease-out forwards;
          animation: onLoad 1s 950ms ease-out forwards;
}

.desserts__choix--delay2 {
  -webkit-animation: onLoad 1s 1100ms ease-out forwards;
          animation: onLoad 1s 1100ms ease-out forwards;
}

.desserts__choix--delay3 {
  -webkit-animation: onLoad 1s 1250ms ease-out forwards;
          animation: onLoad 1s 1250ms ease-out forwards;
}

.desserts__choix:active div:first-child {
  width: 82%;
}

.desserts__choix:active div:last-child {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.desserts__choix:active div:last-child > i {
  -webkit-animation: 400ms 100ms checked 1 forwards;
          animation: 400ms 100ms checked 1 forwards;
}

.desserts__choix__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  border-radius: 0 1em 1em 0;
  background: #99E2D0;
  width: 18%;
  height: 100%;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  position: absolute;
}

.desserts__choix__hover__checked {
  color: white;
  overflow: hidden;
  font-size: 1.5em;
}

.desserts__choix__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.desserts__choix__content > h2 {
  margin: 0.3em 0 0 0.6em;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.desserts__choix__content__def {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.desserts__choix__content__caract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1em 0 0.6em;
}

.desserts__choix__content__price {
  font-weight: bold;
}

.buttonCom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttonCom .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  position: relative;
  margin-top: 2em;
  height: 3em;
  width: 60%;
  border-radius: 1.5em;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  z-index: 1;
}

.buttonCom .button:hover::after {
  opacity: 1;
}

.buttonCom .button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff99e3), to(#c799ff));
  background: linear-gradient(#ff99e3, #c799ff);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  border-radius: 1.5em;
}

.footerContent {
  margin-left: 1em;
}

.footerContent > h1 {
  margin: 0.5em 0 0.5em 0;
  font-size: 1.2em;
  font-weight: lighter;
}

.footerContent > p {
  font-size: 0.9em;
}

.footerContent > p > i {
  font-size: 0.8em;
  margin-right: 0.5rem;
}

.footerContent > p > .mod {
  font-size: 0.6em;
}
/*# sourceMappingURL=styles.css.map */