@import 'sass/utils';
@import 'sass/bases';
@import 'sass/anim';

// page acceuil ...................................

.header{
    height: 4em;
    @include flexCenter-Xy();
    & > img{
        width: 50%;
    }
}

.headLoc{
    @include flexCenter-Xy($flexDirection: unset);
    height: 3em;
    box-shadow: 0px 18px 9px -19px grey inset;
    background-color: rgb(224, 224, 224);
    & > p{
        margin: 1em;
        font-weight: bold;
    }
}

.headTitleButton{
    @include flexCenter-Xy( $justifyContent: unset);
    text-align: center;
    height: 16em;
    background-color: eclair($eclair: $colorPrimary);
    &__title{
        width: 90%;
        &--title{
            @include fontTitle();
            font-family: 'Roboto', sans-serif;
        }
    }
    @include headButton();
}

.foncStep{
    @include flexCenter-Xy( $justifyContent: space-between);
    height: 15em;
    margin-bottom: 3em;
    &__exemple{
        @include flexCenter-Xy( $justifyContent: unset, $flexDirection: unset);
        @include shadowBut();
        background-color: eclair($colorPrimary);
        height: 4em;
        width: 90%;
        border-radius: 1em;
        & > span{
            position: relative;
            right: 0.7em;
            height: 1.4em;
            width: 1.4em;
            border-radius: 0.7em;
            background-color: $colorPrimary;
            text-align: center;
            color: white;
            font-size: smaller;
        }
        & > i{
            color: eclair($colorPrimary, $lightness: 50%);
            margin: 0 1.2em 0 0.5em;
        }
        & > p{
            font-weight: bold;
        }
        &--mod{
            background-color: eclair($colorPrimary,$saturation: 100%, $lightness: 96%);
            & > i{
                color: $colorPrimary;
            }
        }
    }
}

.allResto{
    @include flexCenter-Xy($justifyContent: space-between);
    height: 60em;
    &__restoCard{
        @include flexCenter-Xy($alignItems: unset, $justifyContent: unset);
        @include shadowBut();
        width: 90%;
        height: 14em;
        border-radius: 1em;
        position: relative;
        z-index: 0;
        & > a{
            @include flexCenter-Xy($alignItems: unset, $justifyContent: unset);
        }
        &__new{
            position: absolute;
            left: 12.5em;
            top: 0.8em;
            color: green;
            background-color: $colorThirdly;
            border-radius: 2px;
            & > p{
                margin: 0.5em 1.1em 0.5em 1.1em;
                font-weight: bold;
                font-size: 0.8em;
            }
        }
        & img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 1em 1em 0em 0em;
        }
        &__name{
            margin: 0.8em 0 0 0.7em;
            font-weight: bold;
        }
        &__loc{
            margin-left: 0.7em;
        }
    }
}

.heart{
    font-size: 1.4em;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    background: eclair($colorPrimary);
    top: 8em;
    right: 0.3em;
    bottom: 0.3em;  
    left: 11em;
    opacity: 1;
    transition: opacity 250ms;
    &:active{
        opacity: 0;
    }
    &__hover{
        position: absolute;
        font-size: 1.4em;
        top: 8em;
        right: 0.3em;
        bottom: 0.3em;  
        left: 11em;
        background: -webkit-linear-gradient($colorPrimary, $colorSecondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
    }
}


@include footer;

// page acceuil fin ...................................

// page à la française ...................................

@include headerTitleImgMenu;

@keyframes onLoad{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    50%{
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes checked{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.entrées{
    padding: 0 0.8em 0 0.8em;
    &__title{
        border-bottom: 3px solid $colorThirdly;
        width: 2.5em;
        height: 1.5em;
    }
    &__choix{
        @include flexCenter-Xy($alignItems: unset, $justifyContent: unset, $flexDirection: row);
        @include shadowBut();
        background: white;
        height: 4em;
        border-radius: 1em;
        margin-top: 1em;
        cursor: pointer;
        opacity: 0;
        animation: onLoad 1s 800ms ease-out forwards;
        &:active .entrées__choix__hover{
            width: 18%;
            & .entrées__choix__hover__checked{
                animation: 400ms 100ms checked 1 forwards;
            }
        }
        &:active .entrées__choix__content{
            width: 82%;
        }
        &__hover{
            @include flexCenter-Xy($flexDirection: unset);
            border-radius: 0 1em 1em 0;
            background: $colorThirdly;
            width: 0%;
            transition: width 500ms;
            &__checked{
                color: white;
                overflow: hidden;
                font-size: 1.5em;
            }
        }
        &__content{
            @include flexCenter-Xy($justifyContent: center, $alignItems: unset, $flexDirection: column);
            width: 100%;
            transition: width 500ms;
            & > h2{
                margin: 0.2em 0 0 0.6em;
                font-size: 1em;
            }
            &__truc{
                width: 200px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &__compo{
                @include flexCenter-Xy($justifyContent: space-between, $alignItems: unset, $flexDirection: row);
                margin: 0 1em 0 0.6em;
            }
            &__price{
                font-weight: bold;
            }
        }
    }
}




.buttonCom{
    @include headButton;
    @include flexCenter-Xy;
}

@include footer;


