body {
  margin: unset;
  font-family: 'Shirkhand', 'Roboto', sans-serif;
  position: relative;
}

main {
  background-color: #f5f4f6;
  padding: 0.5em 0 4em 0;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

h2 {
  font-weight: bold;
  font-size: 1.4em;
  margin: 1.5em 0.8em 1em 0.8em;
}

p {
  font-size: 0.9em;
  margin: 0.3em 0 0.3em 0;
}

a {
  outline: none;
  text-decoration: none;
  color: unset;
  height: inherit;
}

button {
  border: none;
  background-color: transperant;
  outline: none;
  padding: unset;
}

@-webkit-keyframes progress-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes progress-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes progress-txt {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes progress-txt {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10em;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 15em;
  z-index: -1;
}

.loadContainer .progressBar {
  background: -webkit-gradient(linear, left top, right top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0.25turn, #9356DC, #FF79DA);
  height: 3.2em;
  width: 100%;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-animation: progress-bar 1.5s 150ms both ease-in-out;
          animation: progress-bar 1.5s 150ms both ease-in-out;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
}

.loadContainer .letterWhite {
  position: absolute;
  font-size: 2.8em;
  font-family: "Shrikhand";
  color: white;
  z-index: 1;
  opacity: 1;
  -webkit-animation: progress-txt 300ms 1.5s both;
          animation: progress-txt 300ms 1.5s both;
}

.loadContainer .letterBlack {
  position: absolute;
  font-size: 2.8em;
  font-family: "Shrikhand";
  color: black;
}

@-webkit-keyframes body {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes body {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.bodyAnim {
  -webkit-animation: body 1s 1.7s both;
          animation: body 1s 1.7s both;
}

.header {
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header > img {
  width: 50%;
}

.headLoc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  height: 3em;
  -webkit-box-shadow: 0px 18px 9px -19px grey inset;
          box-shadow: 0px 18px 9px -19px grey inset;
  background-color: #e0e0e0;
}

.headLoc > p {
  margin: 1em;
  font-weight: bold;
}

.headTitleButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 16em;
  background-color: #f5f4f6;
}

.headTitleButton__title {
  width: 90%;
}

.headTitleButton__title--title {
  font-weight: bold;
  font-size: 1.4em;
  margin: 1.5em 0.8em 1em 0.8em;
}

.headTitleButton .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  position: relative;
  margin-top: 2em;
  height: 3em;
  width: 65%;
  border-radius: 1.5em;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  z-index: 1;
}

.headTitleButton .button:hover::after {
  opacity: 1;
}

.headTitleButton .button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff99e3), to(#c799ff));
  background: linear-gradient(#ff99e3, #c799ff);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  border-radius: 1.5em;
}

.foncStep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15em;
  margin-bottom: 3em;
}

.foncStep__exemple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  background-color: #f5f4f6;
  height: 4em;
  width: 90%;
  border-radius: 1em;
}

.foncStep__exemple > span {
  position: relative;
  right: 0.7em;
  height: 1.4em;
  width: 1.4em;
  border-radius: 0.7em;
  background-color: #9356DC;
  text-align: center;
  color: white;
  font-size: smaller;
}

.foncStep__exemple > i {
  color: #7e738c;
  margin: 0 1.2em 0 0.5em;
}

.foncStep__exemple > p {
  font-weight: bold;
}

.foncStep__exemple--mod {
  background-color: #f4ebff;
}

.foncStep__exemple--mod > i {
  color: #9356DC;
}

.allResto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60em;
}

.allResto__restoCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 3px 16px -10px #000000;
          box-shadow: 0px 3px 16px -10px #000000;
  width: 90%;
  height: 14em;
  border-radius: 1em;
  position: relative;
  z-index: 0;
}

.allResto__restoCard > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.allResto__restoCard__new {
  position: absolute;
  left: 12.5em;
  top: 0.8em;
  color: green;
  background-color: #99E2D0;
  border-radius: 2px;
}

.allResto__restoCard__new > p {
  margin: 0.5em 1.1em 0.5em 1.1em;
  font-weight: bold;
  font-size: 0.8em;
}

.allResto__restoCard img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0em 0em;
}

.allResto__restoCard__name {
  margin: 0.8em 0 0 0.7em;
  font-weight: bold;
}

.allResto__restoCard__loc {
  margin-left: 0.7em;
}

.heart {
  font-size: 1.4em;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  background: #f5f4f6;
  top: 8em;
  right: 0.3em;
  bottom: 0.3em;
  left: 11em;
  opacity: 1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.heart:active {
  opacity: 0;
}

.heart__hover {
  position: absolute;
  font-size: 1.4em;
  top: 8em;
  right: 0.3em;
  bottom: 0.3em;
  left: 11em;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  height: 11em;
  background-color: #333333;
  color: white;
}

.footerContent {
  margin-left: 1em;
}

.footerContent > h1 {
  margin: 0.5em 0 0.5em 0;
  font-size: 1.2em;
  font-weight: lighter;
}

.footerContent > p {
  font-size: 0.9em;
}

.footerContent > p > i {
  font-size: 0.8em;
  margin-right: 0.5rem;
}

.footerContent > p > .mod {
  font-size: 0.6em;
}
/*# sourceMappingURL=styles.css.map */